<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <!-- <main role="main" class="container my-auto">
        <div class="row">
            <div id="login" class="col-md-6 col-lg-5">
                <h2 class="text-center">Iniciar sesion</h2>
                <h2 class="text-center text-primary">Ingrese sus datos correspondientes</h2>

                <form class="w-100">
                    <div class="form-group my-2">
                        <label for="correo" class="lead">Correo: </label>
                        <input id="correo" name="correo" class="form-control" type="email"
                            placeholder="Correo electrónico">
                    </div>
                    <div class="form-group my-2">
                        <label for="palabraSecreta" class="lead">Contraseña</label>
                        <input id="palabraSecreta" name="palabraSecreta" class="form-control" type="password"
                            placeholder="Ingrese su contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Entrar
                    </button>
                    <br>
                    <a href="#" class="text-danger">Contraseña olvidada</a>
                </form>
            </div>
            
            <div class="col-md-6 col-lg-5">
                <h2 class="text-primary">Recuerde ingresar sus datos de manera correcta</h2>
            </div>
        </div>
    </main> -->

    <div class="container">
        <div class="card container-form">
            <h1 class="title">Iniciar Sesion</h1>

            <form action="" class="form">
                <label for="" class="txt__form">Correo: </label><br>
                <input type="text" placeholder="Ingrese correo electronico"><br>

                <label for="" class="txt__form">Contraseña: </label><br>
                <input type="password" placeholder="Ingrese su contraseña"><br>

                <button class="btnSend">
                    Entrar
                </button>
            </form>
            <a href="" class="pwd">Contraseña olvidada</a>
        </div>
        <div class="card container-txt">
            <h2 class="title">Ingrese sus datos correctos</h2>
            <p></p>
        </div>
    </div>
</body>

</html>